            <footer class="text-center text-black w-full my-4 py-4 bg-gray-300 xl:text-xl">
                <p>Forward the files to this channel and Download Here..👉</p><a href="https://t.me/telprabha" target="_blank"> @telprabha </a><br>
                <p>Don't Share Advertisement and I will f**k you</p><br>
                <p>Developed by <img src="prabha.jpg" style="border-radius: 50%" width="20" height="20"> Prabakar, Full Stack Developer</p>
            </footer>
            
        </div>
        
    </body>
</html>
